<mat-toolbar color="primary" class="mat-elevation-z6 app-bar">
  <span class="navigation-side">
    <i class="logo" aria-hidden="false" aria-label="MacroPeople Logo"></i>

    <button mat-button routerLink="/homepage">Homepage</button>
    <button mat-button routerLink="/data">Data</button>
  </span>


  <mat-icon aria-hidden="false" aria-label="Profile Menu">person</mat-icon>
</mat-toolbar>

<router-outlet></router-outlet>

<ng-container *ngIf="!(isLoggedIn$ | async)">
  <app-login-modal></app-login-modal>
</ng-container>
