<header class="header-6">
  <div class="branding">
      <img src="/assets/logo-white.png">
  </div>
  <div class="header-nav">
      <a routerLinkActive="active" routerLink="/homepage" class="nav-link nav-text">Homepage</a>
      <a routerLinkActive="active" routerLink="/data" class="nav-link nav-text">Data</a>
  </div>
  <div class="header-actions">
    <clr-dropdown [clrCloseMenuOnItemClick]="true">
      <button clrDropdownTrigger aria-label="user">
        <clr-icon shape="user"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
        <div clrDropdownItem>Requests</div>
        <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
        <div (click)="logout()" clrDropdownItem>Log out</div>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>

<router-outlet></router-outlet>

<ng-container *ngIf="!(isLoggedIn$ | async)">
  <app-login-modal></app-login-modal>
</ng-container>
