.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .angular-logo {
    background: url('../../assets/angular-logo.png') no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    padding-bottom: 15%;
  }
}

.full-width {
  width: 100%;
}

.login-button {
  margin-top: 5%;
}
