<ng-template #loginForm>
  <form class="login-form">
    <div class="angular-logo"></div>
    <h3 class="sign-in">Sign In</h3>
    <mat-form-field class="full-width">
      <mat-label>User Name</mat-label>
      <input matInput type="text" name="username" autocomplete="username" [(ngModel)]="userName" required />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" autocomplete="current-password" [(ngModel)]="password" required />
    </mat-form-field>
  </form>
  <button color="primary" mat-raised-button class="full-width login-button" (click)="signIn()">Sign In</button>
</ng-template>
